<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
    <!--copyright,yens,thing that are not on the keyboard[entitie]W3schools-->
<footer class="row bg-dark" style="color:white; text-align:center; padding:1%">
    <div class="col-md-3">
        <h5><b>Come Visit Us!</b></h5>
        <b>2nd Floor Havens Court</b> <br>
        <b>Waiyaki way</b><br>
        <b>+254704563123</b>
    </div>
     <div class="col-md-3">
        <h5><b>Company Information</b></h5>
         <a href="" class="text-light"><b>About us</b></a><br>
         <a href="" class="text-light"><b>How it works</b></a><br>
         <a href="" class="text-light"><b>Parcel Tracking</b></a>

    </div>

     <div class="col-md-3">
         <i class="fas fa-user-friends" style="font-size:40px; color:#ffffff;"></i><br>
            <b class="text-danger">Subscribe Newsletter</b><br>
            <p class="text-muted">Subscribe to our newsletter to recieve special offers</p>
            <form action="">
                <input type="email" placeholder="Your email">
                <input type="Submit" placeholder="btn btn-warning" value="send">
            </form>
    </div>
     <div class="col-md-3">
        <h5><b>Follow Us on:</b></h5>
        <a href="">
                    <i class="fab fa-twitter" style="font-size:20px; color:#ffffff; "></i>
                </a>
                <a href="">
                    <i class="fab fa-facebook" style="font-size:20px; color:#ffffff;"></i>
                </a>
                <a href="">
                    <i class="fab fa-youtube" style="font-size:20px; color:#ffffff;"></i>
                </a>
                <a href="">
                    <i class="fab fa-google-play" style="font-size:20px; color:#ffffff;"></i>
                </a>
          <h5><b>Customer Care:</b></h5>
           <i class="fas fa-phone"style="font-size:20px; color:#ffffff;"></i>
          <b>+254 704563123</b><br>
            <b>+254 745000000</b>
    </div>

</div>
</footer>
<footer class="row bg-dark" style="color:white; text-align:center; padding:1%">
    <div class="col-md-12">
        <b class="text-muted">ParcelDelivery &copy;2021 - All rights reserved</b> &vert;
        <a href="" class="text-light"><b>Terms & Conditions</b></a> &vert;
        <a href="" class="text-light"><b>Privacy Policy</b></a>

    </div>
</div>
</footer>
</body>
</html>